@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600px ;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.text-description{
    font-weight: 400px;
    color: #727272;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}

nav ul {
    display: flex;
}

nav li{
    list-style: none;
    color: #424242;
    margin-right: 30px;
    font-size: 18px;
}

nav a{
    text-decoration: none;
    color: #424242;
}

/* banner section styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}
/* heading Styles End */

/* Teams Section Start */

main{
    max-width: 1440px;
    margin: 0 auto ;
}

.teams-container{
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    border-radius: 10px;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title{
    font-size: 2.8rem;
}

.quick-list{
    color:#727272;
    font-size: 2rem;
    font-weight: 500;
}

.of-our{
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

.features-write{
    color: #FF900E;
    font-size: 2rem;
    font-weight: 700;
}
/* Teams Section End */

/* Features Section Start */
    .features{
        margin-top: 100px;
        display: flex;
        gap: 100px;
    }

    .features-title{
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
        border-left: 5px solid #FF900E;
        padding: 0px 20px;
    }

    .features-card{
        color: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;

    }

    .features-card-title{
        color: #131313;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .features-image img{
       height: 90%; 
       margin-left: 50px;
    }

    .badge{
        border-radius: 8px;
        background: #FF900E;
        color: white;
        width: 300px;
        text-align: center;
        padding: 5px;
        position: relative;
        bottom: 100px;
    }

    .badge h2{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 0px;
        }

    .badge p{
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 0px;
    }

/* Features Section End */

/* Facts Section Start */

    .facts-title{
        font-size: 3rem;
        font-weight: 700px;
        color: #131313;
    }

    .card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    }

    .card{
        border: 1px solid #FF900E;
        border-radius: 8px;
        text-align: center;
        padding: 20px 30px;
    }

    .card-container h2{
        color: #424242;
        font-size: 2.8rem;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card-container p{
        color: #727272;
        font-size: 1.2rem;
        font-weight: 600;
    }

/* Facts Section End */

/* Sponspors Section Start */

    .sponspors-container{
        text-align: center;
    }

    .sponspors-title{
        color: #131313;
        font-size: 2.8rem;
        font-weight: 700;
    }

    .sponspors-image{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        gap: 40px;
        align-items: center;
    }

    .sponspors-image img{
       width: 165px;
    }

/* Sponspors Section End */


/* Footer section Start  */

footer{
    background-color: #FFF4E7;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}
    footer p{
        color: #424242;
        font-size: 1.2rem;
        text-align: center;
        padding: 30px;
    }
/* Footer section End  */

/* Responsive Styles for small Devices*/

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav, 
    .teams-container,
    .card-container,
    .sponspors-image,
    .features
    {
        flex-direction: column;
    }

    .teams-image{
        grid-template-columns: 1fr;
    }

    .features-image img{
        width: 80%;
        margin-left: 0px;
     }

    .badge{
        position: static;
        max-width: 150px;
    }

    .badge h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0px;
        }

    .badge p{
        font-size: 0.5rem;
        font-weight: 500;
        margin-top: 0px;
    }

    .card{
        margin-bottom: 10px;
        padding: 5px;
    }
}

/* Responsive Styles for medium Devices*/
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container,
    .features{
        flex-direction: column;
    }

    .card{
        padding: 5px 10px;
    }

    .card-container h2{
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card-container p{
        font-size: 1rem;
    }

    .sponspors-image img{
        width: 120px;
     }
    
}

